html,
body {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

#map {
  width: 100%;
  height: 100vh;
}

.logo {
  width: 300px;
  height: 100px;
  background-image: url("../img/PB_logo_opt.png");
  background-size: cover;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-150px);
  z-index: 999;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
